* {
    margin:0;
    padding:0;
}

a {
    color: hotpink;
}

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-evenly;
    text-align: center;
}

img {
    max-height: 20em;
    max-width: 20em;
}

body {
    font-size: 125%; 
    
}

header {
    text-align: center;
    min-height: 5em;
    background-color:darkblue;
    color: lemonchiffon;
}

main {
    display: flex;
    flex-direction:column;
    background-color:darkblue;
    color: lemonchiffon;

}

footer {
    display:flex;
    position: absolute;
    
}

